.container(ng-controller='homeCtl')
	.row
		.span7.offset2.well
			h1 Gathering Our Voices
			p The ‘Gathering Our Voices on Health’ Aboriginal Youth Conference is hosted by the BC Association of Aboriginal Friendship Centres (BCAAFC) and their Provincial Aboriginal Youth Council (BCAAFC - PAYC). The Conference will be held from March 19-22, 2013 in Penticton, BC at the Penticton Trade and Convention Centre.	 Exploring this year’s theme of ‘Health’ up to 1500 youth (14-24years), chaperones, presenters and guests will network and learn new techniques and skills in workshops, share knowledge through cultural activities, witness performances by talented individuals, explore career and education possibilities and participate in sports and recreational activities.
			p For more information about the conference
			a.btn.btn-info(href="http://www.bcaafc.com/newsandevents/gathering-our-voices", target="_blank") Visit Our Main Site
	.row
		.span7.offset2.well
			h3 Registration Requirements
			p Please note that you'll need the following information for each delegate:
			ul
				li First & Last names
				li Medical Numbers (CareCards)
				li <i>Any</i> medical conditions or food allergies
				li Emergency Contact Information (Name & Phone number)
				li Cell numbers for all Chaperones (for emergencies)
			hr
			a.btn.btn-block.btn-primary(href="/register") Register Now &raquo;
