.container-fluid(ng-controller='homeCtl')
  .row-fluid
    .span7.offset2.well
      h1 Welcome to the Gathering Our Voices Youth Conference Webspace
      p This is the 11th annual Aboriginal youth conference that the British Columbia Association of Aboriginal Friendship Centres (BCAAFC) and the BCAAFC - Provincial Aboriginal Youth Council (BCAAFC-PAYC) have hosted. Aboriginal youth from across Canada, between the ages of 14 to 24 take part in the event and it is held in different regions of the province each year.  In 2013, the multi-day event will be held in the city of Penticton 
