.container-fluid(ng-controller='homeCtl')
  .row-fluid
    .span7.offset2.well
      h1 Gathering Our Voices
      p This is the 11th annual Aboriginal youth conference that the BC Association of Aboriginal Friendship Centres (BCAAFC) and the BCAAFC - Provincial Aboriginal Youth Council (BCAAFC-PAYC) have hosted. Aboriginal youth from across Canada, between the ages of 14 to 24 are welcome join us in this event. It is held in different regions of BC each year.  In 2013, this 4 day event will be held in the city of Penticton.
      h3 Topic of the Year: Health
      p Delegates will be provided with career information, networking and leadership development opportunities, best practices strategies, tools, techniques, and culturally appropriate teachings over four days.  Youth can gather, share and learn from each other and from mentors.  Involvement from the local community in the event ensures each event meets regional needs and addresses current priorities. This is an excellent opportunity to promote healthy living in Aboriginal communities as well as providing education to Aboriginal youth on Health, Language, Culture, the Environment, Employment, Education and Life-Long Learning, Sports and Recreation.
.container-fluid
  .row-fluid
    .span7.offset2.well
      h1 Challenge to Aboriginal Youth
      p Beginning September 10, 2012 and running through March 8, 2013, the Gathering Our Voices Challenge to Aboriginal Youth will focus on two themes at this year's conference: Health and the Environment. Our hope is that by engaging youth in these challenges, they will be able to share their unique experiences with these issues when we come together for Gathering Our Voices Health.
