.container-fluid(ng-controller='homeCtl')
  .row-fluid
    .span7.offset2.well
      h1 Gathering Our Voices
      p The ‘Gathering Our Voices on Health’ Aboriginal Youth Conference is hosted by the BC Association of Aboriginal Friendship Centres (BCAAFC) and their Provincial Aboriginal Youth Council (BCAAFC - PAYC). The Conference will be held from March 19-22, 2013 in Penticton, BC at the Penticton Trade and Convention Centre.  Exploring this year’s theme of ‘Health’ up to 1500 youth (14-24years), chaperons, presenters and guests will network and learn new techniques and skills in workshops, share knowledge through cultural activities, witness performances by talented individuals, explore career and education possibilities and participate in sports and recreational activities.
      a.btn.btn-block.btn-primary(href="/register") Register Now &raquo;
      