.container-fluid(ng-controller='loginCtl')
  .row-fluid
    .span4
    .well.span4
      form(ng-submit='login()')
        .page-header Please, sign in or register
        | Username: 
        input.focused(type='text', name='username', ng-model='username', placeholder='Your Username')
        br
        | Password: 
        input.focused(type='password', name='password', ng-model='password', placeholder='Your Password')
        input.btn-large.btn-primary(type='submit', value='Login')
