.container-fluid(ng-controller='manCtl')
  .row-fluid
    input.search-query(type='text', ng-model='searchQuery', placeholder='Enter a Search Query')
    .well.accordian#listing
      .container
        .span2
          h6 Primary Contact name
        .span2
          h6 affiliation
        .span2
          h6 Youth
        .span2
          h6 Chaperones
        .span2
          h6 Young Adult
      .accordian-group(ng-repeat="group in attendees | filter:searchQuery | orderBy:'name'")
        .container.accordian-heading
          .span2
            a.accordian-toggle(
              ui-jq='collapse',
              management-collapse
            )  {{group.primaryContact.name}}
          .span2
            p {{group.primaryContact.extendedInfo.affiliation}}
          .span2
            p {{group.youthList.length}}
          .span2
            p {{group.chaperoneList.length}}
          .span2
            p {{group.youngAdultList.length}}
        .accordian-body.collapse
          .accordian-inner
            .container
              .span3
                h6 Youth
                ul
                  li(ng-repeat="youth in group.youthList")
                    p {{youth.name}}


.modal.hide.fade#secretModal
  .modal-header
    button.close(type="button", data-dismiss='modal') x
    h3 Escalated Privilages Needed!
  .modal-body
    p Unfortunately, us allowing you to see all of the attendees (and their respective information!) would be a huge security concern!
    br
    i So, please enter the secret key: 
    input.focused(type='password', ng-model='secret', name='secret', placeholder='Secret Key goes here')
  .modal-footer
    a.btn(data-dismiss='modal', href='/home') Cancel
    a.btn.btn-primary(ng-click='auth()', data-dismiss='modal') Authenticate
  
  script(type='text/javascript')
    $('#secretModal').modal({backdrop: 'static'});
