.container-fluid(ng-controller='homeCtl')
  .row-fluid
    .span7.offset2.well
      h1 Privacy Policy
      p Got questions about what we're doing with the information you send us?
      h6 How long are you keeping my information?
      p The forseeable future. Backups of your data will remain on our servers until either a catastrophic data failure, or one of our Administrators mistakenly deletes it. If you'd like us to get rid of your data at any point, just give us a call at 250-388-5522 and ask for Della Preston.
      h6 Who has access to my information?
      p The only people who have access to your information are people who are working at the Gathering Our Voices Youth Conference. As an exception to this, if you are in a accident, or experience personal injury, we will release your information to the Paramedics.
      h6 How will my information be kept?
      p Your information will be stored electronically in the form of a <a href="http://www.mongodb.org/">Mongo Database</a> as well as in compressed back-ups.
      h6 How will my information be destroyed?
      p Your data will be electronically deleted via a laser burning divots into a metal disc.