.container-fluid(ng-controller='regCtl')
  .row-fluid
    .span3.well
      ul.nav.nav-list
        li.nav-header Getting Started
        li 
          a(ng-click="scrollto(step-1)")
            i.icon-search
            | Basics
        li 
          a(ng-click="scrollto(step-2)")
            i.icon-book
            | Contact Info
    .span9
      form(ng-submit='submit()')
        .well
          .page-header
            h1#step-1 The Basics
          p To get started, we need some basic contact information from you.
          input.focused(type='text', name='primaryName', ng-model='primaryName', placeholder='Enter your name')
          br
          input.focused(type='text', name='primaryAddress', ng-model='primaryAddress', placeholder='Enter your mailing address')
          br  
          input.focused(type='text', name='primaryLocation', ng-model='primaryLocation', placeholder='Enter your city')
          br  
          input.focused(type='text', name='primaryPhone', ng-model='primaryPhone', placeholder='Enter your phone number')
          br  
          input.focused(type='text', name='primaryEmail', ng-model='primaryEmail', placeholder='Enter your Email')
        .well 
          address
            strong {{primaryName}}
            br
            | {{primaryAddress}}
            br
            | {{primaryLocation}}
            br
            abbr(title="Phone") P:
            | {{primaryPhone}}
            br
            abbr(title="Email") E:
            | {{primaryEmail}}

          input.btn-large.btn-primary(type='submit', value='Register')

