.container-fluid(ng-controller='regCtl')
  .row-fluid
    .span3.well
      ul.nav.nav-list
        li.nav-header Getting Started
        li 
          a(ng-click="scrollto(step-1)")
            i.icon-search
            | Basics
        li 
          a(ng-click="scrollto(step-2)")
            i.icon-book
            | Contact Info
    .span9
      form(ng-submit='submit()')
        .well
          .page-header
            h1#step-1 The Basics
          p To get started, we need some basic contact information from you.
          input.focused(type='text', name='Name', ng-model='Name', placeholder='Enter your name')
          br
          input.focused(type='text', name='Address', ng-model='Address', placeholder='Enter your mailing address')
          br  
          input.focused(type='text', name='Location', ng-model='Location', placeholder='Enter your city')
          br  
          input.focused(type='text', name='Phone', ng-model='Phone', placeholder='Enter your phone number')
          br  
          input.focused(type='text', name='Email', ng-model='Email', placeholder='Enter your Email')
        .well 
          address
            strong {{Name}}
            br
            | {{Address}}
            br
            | {{Location}}
            br
            abbr(title="Phone") P: 
            | {{Phone}}
            br
            abbr(title="Email") E: 
            | {{Email}}

          input.btn-large.btn-primary(type='submit', value='Register')

