.container-fluid(ng-controller='regCtl')
  .row-fluid
    .span3.well
      ul.nav.nav-list
        li.nav-header Getting Started
        li 
          a(ng-click="scrollto(step-1)")
            i.icon-search
            | Basics
        li 
          a(ng-click="scrollto(step-2)")
            i.icon-book
            | Contact Info
    .span9
      form(ng-submit='submit()')
        .well
          .page-header
            h1#step-1 The Basics
          p To get started, we need some basic contact information from you.
          br
          input.focused(type='text', name='name', ng-model='name', placeholder='Enter your name')
          br
          input.focused(type='password', name='password', ng-model='password', placeholder='Enter your password')
          br
          input.focused(type='text', name='address', ng-model='address', placeholder='Enter your mailing address')
          br  
          input.focused(type='text', name='city', ng-model='city', placeholder='Enter your city')
          br  
          input.focused(type='text', name='phone', ng-model='phone', placeholder='Enter your phone number')
          br  
          input.focused(type='text', name='email', ng-model='email', placeholder='Enter your Email')
        .well 
          address
            strong {{Name}}
            br
            | {{Address}}
            br
            | {{Location}}
            br
            abbr(title="Phone") P: 
            | {{Phone}}
            br
            abbr(title="Email") E: 
            | {{Email}}

          input.btn-large.btn-primary(type='submit', value='Register')

