.well(ng-controller='groupTableCtl')
	h1 Group Table
	p Lists all of the groups attending along with group specific information.
	p The purpose of this page is to allow users to search or import into a spreadsheet application. <b>Currently, Google Docs works flawlessly, and you can save to excel from there. MS Excel exhibits strange pasting behaivor and does not always work.</b>
	table.table.table-condensed.table-hover(style="background-color: white")
		thead
			tr
				th Affiliation
				th Address
				th City
				th Province
				th Postal Code
				th Fax
				th Contact Name
				th Contact Phone
				th Contact Email
				th Youth
				th Chaperones
				th Young Adults
				th Paid Tickets
				th Free Tickets
				th Payment Method
				th Paid
				th Fee per ticket
				th Reg. Date
				th Reg. Status
				th Reg. Confirmation
				th Reg. Workshops
				th Youth In Care
				th Notes
			tr(ng-repeat="group in attendees")
				td {{ group.groupInfo.affiliation }}
				td {{ group.groupInfo.address }}
				td {{ group.groupInfo.city }}
				td {{ group.groupInfo.province }}
				td {{ group.groupInfo.postalCode }}
				td {{ group.groupInfo.fax }}
				td {{ group.primaryContact.name }}
				td {{ group.primaryContact.phone }}
				td {{ group.primaryContact.email }}
				td {{ group.youthList.length }}
				td {{ group.chaperoneList.length }}
				td {{ group.youngAdultList.length }}
				td {{ group.costs.paidTickets }}
				td {{ group.costs.freeTickets }}
				td {{ group.costs.paymentMethod }}
				td {{ group.internalData.paid }}
				td {{ group.internalData.feePerTicket }}
				td {{ group.internalData.regDate }}
				td {{ group.internalData.status }}
				td {{ group.internalData.confirmation }}
				td {{ group.internalData.workshop }}
				td {{ group.internalData.youthInCare }}
				td {{ group.internalData.notes }}