!!!
html(ng-app="gov")
  head
    title Gathering Our Voices
    meta(http-equiv="Content-Type",content="text/html; charset=UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="description", content="Gathering Our Voices is an annual conference in BC for Aboriginal Youth. This years confernce theme will focus on Health and will be held from March 19-22, 2013 in Penticton, BC.")
    meta(name="author", content="Andrew Hobden")
    // HTML5 shim, because IE's are horrible.
    //if lt IE 9
      script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')

    // Get the CSS.
    != css('bootstrap.min')
    != css('layout')
    != css('responsive.min')

  body
    // Navbar. This does not need a container.
    .navbar.navbar-fixed-top
      .navbar-inner
        .container-fluid
          .pull-right
            a.brand Gathering Our Voices
          ul.nav
            li
              a(href='home')
                i.icon-home
                | Home
            li
              a(href='register')
                i.icon-edit
                | Register
            li
              a(href='management')
                i.icon-tasks
                | Management

    // Leaving out for now.
      .container-fluid
        .span3.offset3
        .pull-right
          .visible-desktop.carousel.slide.pull-right#intro-carousel(jq-ui='carousel')
            .carousel-inner
              .active.item
                img(src="/img/index/carousel1.jpg")
              .item
                img(src="/img/index/carousel2.jpg")
              .item
                img(src="/img/index/carousel3.jpg")
              .item
                img(src="/img/index/carousel4.jpg")
            a.carousel-control.left(href='javascript:void(0)', carousel-prev) &lsaquo;
            a.carousel-control.right(href='javascript:void(0)', carousel-next) &rsaquo;
            
    // Main Container. Nothing other then floats should be outside of this.
    .container-fluid
      // Logo Row.
      // -- This is the top of the page, it containers things that the entire application will be using.
      .row-fluid
        .span9
        .span3
          img.hidden-phone(src="/img/gov_logo.png")
    
      // Detect IE being a peice of .... bad programming.
      //if lt IE 9 8 7 6
        .alert.alert-danger
          h4 Old Internet Explorer User!
          p It looks like you're using an extremely old (Between 4 and 12 years!) version of Internet Explorer.
          p Please note this site is largely untested in these versions of Internet Explorer. <a href="http://angularjs.org/"> We take advantage of some pretty new (and fancy!) technology. </a>
          a(href="https://www.google.com/intl/en/chrome/browser/")
            i.icon-heart
            | Please! Upgrade to Chrome! You don't even need to get Administrator access! Just click here.
      // Detect IE being a peice of .... bad programming.
      //if lt IE 9
        .alert.alert-danger
          h4 Internet Explorer User!
          p It looks like you're using Internet Explorer 9! Great job keeping up to date!
          p Our site uses from <a href="http://angularjs.org/">pretty fancy new technology</a>. While the site should work fine for you... Chrome is super awesome! Maybe check it out?
          a(href="https://www.google.com/intl/en/chrome/browser/")
            i.icon-heart
            | Please! Upgrade to Chrome! You don't even need to get Administrator access! Just click here.
        
      // Article Row
      // -- This is the main content which Angular JS replaces during ng-view
      .row-fluid#article(ng-view)
        .container-fluid
          .row-fluid
            .span5
            .well.span2
              p Please give us a moment while the data loads!

  // Load the javascript at the end of the page, it's faster apparently (As said in the Bootstrap official templates.)
  != js('jquery.min')
  // Bootstrap only
  != js('bootstrap.min')
  // Angular JS specific
  != js('angular/angular-1.0.1')
  != js('angular-ui')
  != js('app')
  != js('controllers')
  != js('directives')
  != js('jquery.maskedinput.js')
