!!!
html(ng-app="gov")
  head
    title Gathering Our Voices
    meta(http-equiv="Content-Type",content="text/html; charset=UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="description", content="Gathering Our Voices is an annual conference in BC for Aboriginal Youth. This years confernce theme will focus on Health and will be held from March 19-22, 2013 in Penticton, BC.")
    meta(name="author", content="Andrew Hobden")
    // HTML5 shim, because IE's are horrible.
    //if lt IE 9
      script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')

    // Get the CSS.
    != css('bootstrap/bootstrap')
    != css('layout')
    != css('bootstrap/responsive')

  body(data-offset="50",data-spy="scroll",data-target="#subnav")
    .navbar.navbar-fixed-top
      .navbar-inner
        .offset3.container-fluid
          .pull-right
            a.brand Gathering Our Voices
          ul.nav
            li
              a(href='home') Home
            li
              a(href='register') Register
            li
              a(href='management') Management

    // Leaving out for now
      .container-fluid
        .span3.offset3
        .pull-right
          .visible-desktop.carousel.slide.pull-right#intro-carousel(jq-ui='carousel')
            .carousel-inner
              .active.item
                img(src="/img/index/carousel1.jpg")
              .item
                img(src="/img/index/carousel2.jpg")
              .item
                img(src="/img/index/carousel3.jpg")
              .item
                img(src="/img/index/carousel4.jpg")
            a.carousel-control.left(href='javascript:void(0)', carousel-prev) &lsaquo;
            a.carousel-control.right(href='javascript:void(0)', carousel-next) &rsaquo;
    
    .offset9.span3
      img.hidden-phone(src="/img/gov_logo.png")
    
    // The main content of the app.
    div#article(ng-view)
      .container-fluid
        .row-fluid
          .span5
          .well.span2
            p Please give us a moment while the data loads!

  // Load the javascript at the end of the page, it's faster apparently (twitter says)
  != js('jquery.min')
  // Bootstrap only
  != js('bootstrap/bootstrap-alert')
  != js('bootstrap/bootstrap-button')
  != js('bootstrap/bootstrap-carousel')
  != js('bootstrap/bootstrap-collapse')
  != js('bootstrap/bootstrap-dropdown')
  != js('bootstrap/bootstrap-modal')
  != js('bootstrap/bootstrap-scrollspy')
  != js('bootstrap/bootstrap-tab')
  != js('bootstrap/bootstrap-tooltip')
  != js('bootstrap/bootstrap-popover')
  != js('bootstrap/bootstrap-transition')
  != js('bootstrap/bootstrap-typeahead')
  // Angular JS specific
  != js('angular/angular-1.0.1')
  != js('angular-ui')
  != js('app')
  != js('controllers')
  != js('directives')
  != js('jquery.maskedinput.js')
